
#title{
    text-align: center;
}
#description{
    text-align: center;
    font-style: italic;
    font-size: 20px;
}
#survey-form{
    padding: 20px;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    border: 1px hidden;
    background-color: rgba(27,27,50,0.8);
    font-size: 12px;
    color:white;
}
input{
    padding: 10px 60%;
    padding-left: 2px;
    margin-left: 22px;
}
select{
    padding: 10px 65%;
    padding-left: 2px;
    margin-left: 22px;

}
form label{
    font-size: 20px;
    margin-left: 22px;
}
#submit{
    text-align: center;
    background-color: green;
    outline: none;
}
p{
    font-size: 20px;
}