#title{
    text-align: center;
}
#description{
    text-align: center;
    font-style: italic;
    font-size: 20px;
}
#survey-form{
    border: 1px hidden;
    background-color: rgba(27,27,50,0.8);
    font-size: 12px;
    color:white;
}